API_URL=http://127.0.0.1:54321
REST_URL=http://127.0.0.1:54321/rest/v1
FUNCTIONS_URL=http://127.0.0.1:54321/functions/v1
STUDIO_URL=http://127.0.0.1:54323
LOCAL_DB_CONTAINER=supabase_db_payrolleazy-localtest
